#first-p {
    padding-top: 8px;
}

.jumbotron {
    background: url("crossword.png") repeat 0 0;
}

h1, h2, h3, h5 {
    font-family: 'Raleway', sans-serif !important;
}

p, a{
    font-family: 'Oxygen', sans-serif;    
}

.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
}
